*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
:root{
    --bg-color: #fff;
    --text-color: black;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
    --primary-color: #80ee98;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 18%;
    display: flex;  
    align-items: center;
    background: transparent;
    justify-content: space-between;
    transition: ease .40s;
}
header.sticky{
    background: var(--bg-color);
    padding: 10px 18%;  
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.logo{
    font-size: 35px;
    font-weight: 600;
    color: var(--text-color);   
    letter-spacing: 1px;
    font-family: cursive;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500px;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    cursor: pointer;
}
.navbar a:hover{
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}
.navbar .btn-log{
    width: 120px;
    height: 50px;
    background: rgb(233, 236, 245);
    color:#073a4b;
    border: 4px solid;
    outline: none;
    border-radius: 8px;
    margin-top: -15px;
    transition: .5s;
    cursor: pointer;
}
.navbar .btn-log:hover{
    background: rgba(255, 255, 255, 0.852);
    box-shadow: 5px 10px 10px rgb(76 140 154 / 40%);

}

section{
    padding: 80px 18%;
}
.home{
    position: relative;
    background: url(../img/header.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    display: grid;
    align-items: center;
    background-size: cover;
}
.wrapper{
    display: flex;
    align-items: center;
    color: rgb(0 0 0);
    text-align: center;
    margin-top: 10vh;
    margin-left: 40vh;
    justify-content: center;
    letter-spacing: 1px;
    width: 400px;
    height: 440px;
    background: #A9A9A9;
    border: 5px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0 0 0 0.5);
    border-radius: 4px;
    overflow: hidden;
    transition: transform .5s ease, height .2s ease;
    transform: scale(0);
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}
.wrapper .box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .box.register {
    position: absolute;
    transform: translateX(400px);
}

.wrapper.active .box.register {
    transition: transform .18s ease;
    transform: translateX(0);
    transition: none;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 45px;
    font-size: 2em;
    cursor: pointer;
    z-index: 1;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #162938;
    pointer-events: none;
    font-size: 1em;
    font-weight: 500;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 57px;
}
.remember-forgot{
    font-size: .9em;
    color:#162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}
.remember-forgot a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.register{
    font-size: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover {
    text-decoration: underline;
}
.text h2{
    font-size: var(--h2-font);
    line-height: 1.1;
    text-align: center;
}
.box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-gap: 2rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
.icon-box{
    background: var(--bg-color);
    border: 1px solid #f0eded;
    padding: 30px 10px;
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;
}
.items img{
    width: 75px;
    height: 75px;
    background: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 /20%);
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
}
.box h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.box p{
    font-size: 15px;
    font-weight: 500;
    color: var(--second-color);
}
.icon-box:hover{
    box-shadow: 5px 30px 56px rgb( 55 55 55 /20%);
    border: 1px solid transparent;
    transform: translateY(-3px);
}
.title{
    text-align: center;
    margin-bottom: 10px;  
}
.title h2{
    font-size: var(--h2-font);
    line-height: 1.2;
}
.goi-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.thum{
    position: relative;
    transition: all .3s cubic-bezier(.445, .05, .55, .95);
    will-change: filter;
    cursor: pointer;
}
.thum img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.thum h3{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    top: 36px;
    right: 40px;
    color: var(--bg-color);
}
.diadiem-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}
.noi h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.noi p{
    font-size: 15px;
    color: var(--second-color);
}
.thum:hover{
    filter: brightness(100%) hue-rotate(45deg);
    transform: scale(1.04);
}
.diadiem-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}
.diadiem{
    position: relative;
}
.diadiem img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(90%);
    transition: all .3s cubic-bezier(.445, .05, .55, .95);
    will-change: filter;
}
.diadiem h4{
    position: absolute;
    font-size: 20px;
    font-weight: 550;
    color: var(--bg-color);
    left: 15px;
    bottom: 30px;
}
.diadiem img:hover{
    box-shadow:rgb( 55 55 55 /20%);
    transform: scale(1.04);
    filter: brightness(100%) hue-rotate(45deg);
}
.contact{
    background: var(--main-color);
}
.infor{
    color: rgb(255,255,255);
    font-size: 20px;
}
.infor ul li a{
    color: rgb(255,255,255);
    display: block;
    transition: 0.4s;
}
.infor ul li a:hover{
    color: rgb(0 0 0);
    transform: translateX(5px);
}
.infor ul li a i:hover{
    transform: scale(1.20);
}